$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$transition: 0.2s;

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #fdfdff;
  font-family: "Montserrat", sans-serif;
  color: #333b41;
}

h2 {
  margin: 0;
  margin-bottom: $base * 10;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: $base * 5;
}

.btn-group {
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: none;
    text-align: center;
  }
}

.btn {
  box-sizing: border-box;
  width: $base * 30;
  padding: $base * 2 0;
  outline: transparent;
  border-radius: $base * 2;
  font-weight: $fw-medium;
  cursor: pointer;
  transition: $transition;

  &--primary {
    border: 1px solid #fdfdff;
    background: #7e7e7e;
    color: #fdfdff;

    &:hover {
      background: #fdfdff;
      border: 1px solid #333b41;
      color: #333b41;
    }
  }

  &--accent {
    border: 1px solid transparent;
    background-color: brown;
    color: #fdfdff;
    &:hover {
      background: pink;
      border: 1px solid brown;
      color: brown;
    }
  }
}

.input {
  box-sizing: border-box;
  min-width: $base * 55;
  padding: $base * 2 $base * 2;
  border-radius: $base * 2;
  border: 1px solid #333b41;
  outline: transparent;

  &:invalid:not(:focus):not(:placeholder-shown) {
    border: 1px solid red;
  }
}

.ta-c {
  text-align: center;
}

//=== HEADER ===
header {
  flex: 0 0 auto;
  display: flex;
  width: 100%;
  background-color: #f1f3f2;

  .section-inner {
    width: 100%;
  }
}

.logo {
  margin: $base 0;

  &__link {
    padding: $base;
    border-radius: $base;
    border: 2px solid #333b41;
    text-decoration: none;
    color: #333b41;

    &:visited {
      color: #333b41;
    }
  }
}

//=== / HEADER ===

main {
  flex: 1 0 auto;
}

//=== CATALOGUE ===
.section-catalogue {
  .section-inner {
    padding-top: $base * 15;
    padding-bottom: $base * 15;
  }
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $base * 10;
  justify-items: center;

  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $base * 85;
  padding: $base * 4;
  border-radius: $base * 4;
  background-color: #f1f3f2;
  box-shadow: $base * 2 $base * 2 $base * 6 rgba(0, 0, 0, 0.3);

  @media (max-width: 548px) {
    width: $base * 70;
    padding: $base * 4 $base;
  }

  .popup {
    position: absolute;
    top: 50%;
    display: none;
    z-index: 10;
    width: 90%;
    height: 50%;
    padding: $base * 2;
    border-radius: $base * 2;
    box-shadow: $base * 4 $base * 4 $base * 8 rgba(0, 0, 0, 0.5);
    background-color: #c4c8c6;
    transform: translateY(-50%);

    &--visible {
      display: block;
    }

    &-description {
      height: 85%;
    }

    &-btn-wrapper {
      text-align: right;
      button {
        width: $base * 10;
      }
    }
  }

  &__img-wrapper {
    height: $base * 75;
    margin-bottom: $base * 4;
    box-shadow: $base * 2 $base * 2 $base * 6 rgba(0, 0, 0, 0.2);

    img {
      height: $base * 75;
    }
  }

  &__meta {
    width: 100%;

    &-author,
    &-title {
      min-height: $base * 9;
      margin-bottom: $base;
      text-align: center;
    }

    &-title {
      font-weight: $fw-medium;
    }

    &-price {
      margin-bottom: $base * 2;
      text-align: center;
      font-weight: $fw-bold;
    }
  }

  .btn--accent {
    margin-left: auto;
  }
}
//=== / CATALOGUE ===

//=== CART ===
.section-cart {
  .section-inner {
    padding-bottom: $base * 15;
  }
}

.cart-wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: 850px) {
    padding-left: $base * 2;
    padding-right: $base * 2;
  }
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: $base * 10;
  padding: $base * 4 $base * 8;
  border-radius: $base * 4;
  background-color: #f1f3f2;
  box-shadow: $base * 2 $base * 2 $base * 6 rgba(0, 0, 0, 0.3);
  @media (max-width: 548px) {
    padding: $base * 4 $base * 3;
  }
  @media (max-width: 400px) {
    padding: $base * 2 $base * 2;
  }
  &__img-wrapper {
    height: $base * 30;
    min-width: 20%;
    text-align: center;

    img {
      height: inherit;
      object-fit: cover;
      vertical-align: middle;
      box-shadow: $base $base $base * 4 rgba(0, 0, 0, 0.2);
    }
  }

  &__meta {
    width: 100%;
    margin-left: $base * 10;

    &-author {
      margin-bottom: $base * 2;
    }
    &-title {
      margin-bottom: $base;
      font-weight: $fw-medium;
    }
    &-price {
      margin-bottom: $base * 2;
      font-weight: $fw-bold;
      text-align: right;
    }

    .btn-group {
      justify-content: flex-end;

      .btn {
        width: $base * 15;
      }
    }
  }
}

.cart-total {
  &-amount {
    margin-bottom: $base * 2;
    text-align: center;
    font-size: $base * 5;
    font-weight: $fw-bold;
  }

  .btn-group {
    justify-content: center;

    .btn {
      &:last-child {
        margin-left: $base * 2;
      }
    }
  }
}
//=== / CART ===

// === FORM ===
.section-order-form {
  .section-inner {
    padding-bottom: $base * 15;
  }
}

.order-form-wrapper {
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:invalid #submit,
  #submit[disabled] {
    opacity: 0.5;
    color: black;

    &:hover {
      cursor: default;
      background-color: #7e7e7e;
      border: 1px solid #fdfdff;
    }
  }

  & > :not(:last-child) {
    margin-bottom: $base * 3;
  }

  &__name,
  &__address,
  &__date,
  &__radio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & label:not(:first-child) {
      margin-left: $base * 3;

      @media (max-width: 548px) {
        margin-left: 0;
      }
    }
  }

  &__checkbox {
    display: flex;
    justify-content: space-evenly;
    padding-top: $base;
    width: 90%;

    @media (max-width: 548px) {
      flex-direction: column;
    }
  }

  &__submit {
    text-align: center;
  }

  .label {
    &--input {
      padding-top: $base * 2;
      span {
        padding-left: $base;
      }
      input {
        display: block;
      }
    }
    &--checkbox {
      cursor: pointer;

      @media (max-width: 548px) {
        padding: $base 0;
      }
    }
  }
}
// === / FORM ===

footer {
  flex: 0 0 auto;
  background-color: #f1f3f2;
  width: 100%;

  a {
    font-weight: $fw-bold;
    color: #333b41;

    &:visited {
      color: #333b41;
    }
  }
}
