body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #fdfdff;
  font-family: "Montserrat", sans-serif;
  color: #333b41;
}

h2 {
  margin: 0;
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.btn-group {
  display: flex;
  justify-content: space-around;
}

.btn {
  box-sizing: border-box;
  width: 120px;
  padding: 8px 0;
  border: 1px solid #fdfdff;
  outline: transparent;
  background: #ababab;
  border-radius: 8px;
  font-weight: 500;
  color: #fdfdff;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background: #fdfdff;
  border: 1px solid #333b41;
  color: #333b41;
}
.input {
  padding: 8px 8px;
  border-radius: 8px;
  border: 1px solid #333b41;
  outline: transparent;
}
.input:invalid:not(:focus):not(:placeholder-shown) {
  border: 1px solid red;
}

.ta-c {
  text-align: center;
}

header {
  flex: 0 0 auto;
  display: flex;
  width: 100%;
  background-color: #f1f3f2;
}

.logo {
  margin: 4px 0;
}
.logo__link {
  padding: 4px;
  border-radius: 4px;
  border: 2px solid #333b41;
  text-decoration: none;
  color: #333b41;
}
.logo__link:visited {
  color: #333b41;
}

main {
  flex: 1 0 auto;
}

.section-catalogue .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding: 16px;
  border-radius: 16px;
  background-color: #f1f3f2;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.3);
}
.card__img-wrapper {
  margin-bottom: 16px;
  object-fit: cover;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
}
.card__img-wrapper img {
  height: 300px;
  /*     object-fit: contain; */
}
.card__meta {
  width: 100%;
}
.card__meta-author {
  margin-bottom: 8px;
  text-align: center;
}
.card__meta-title {
  min-height: 36px;
  margin-bottom: 4px;
  text-align: center;
  font-weight: 500;
}
.card__meta-price {
  margin-bottom: 8px;
  text-align: right;
  font-weight: 700;
}
.card .btn--accent {
  margin-left: auto;
}

.section-cart .section-inner {
  padding-bottom: 60px;
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 72px;
  padding-right: 72px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 16px 32px;
  border-radius: 16px;
  background-color: #f1f3f2;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.3);
  /*  .btn--accent {
    margin-left: auto;
  } */
}
.cart-item__img-wrapper {
  height: 120px;
  min-width: 20%;
  text-align: center;
}
.cart-item__img-wrapper img {
  height: inherit;
  object-fit: cover;
  vertical-align: middle;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}
.cart-item__meta {
  width: 100%;
  margin-left: 40px;
}
.cart-item__meta-author {
  margin-bottom: 8px;
}
.cart-item__meta-title {
  margin-bottom: 4px;
  font-weight: 500;
}
.cart-item__meta-price {
  margin-bottom: 8px;
  font-weight: 700;
  text-align: right;
}
.cart-item__meta .btn-group {
  justify-content: flex-end;
}

.cart-total-amount {
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
.cart-total .btn-group {
  justify-content: center;
}
.cart-total .btn-group .btn:last-child {
  margin-left: 8px;
}

.order-form {
  display: flex;
  flex-direction: column;
}
.order-form:invalid #submit {
  opacity: 0.5;
  color: black;
}
.order-form:invalid #submit:hover {
  cursor: default;
  background-color: #ababab;
  border: 1px solid #fdfdff;
}
.order-form > :not(:last-child) {
  margin-bottom: 12px;
}
.order-form__name {
  display: flex;
  justify-content: center;
}
.order-form__address {
  display: flex;
  justify-content: center;
}
.order-form__date {
  display: flex;
  justify-content: center;
}
.order-form__radio {
  display: flex;
  justify-content: center;
}
.order-form__checkbox {
  display: flex;
  justify-content: space-evenly;
}
.order-form .label--input span {
  padding-left: 4px;
}
.order-form .label--input input {
  display: block;
}
.order-form .checkbox-wrapper {
  border: none;
  margin: 0;
  padding: 0;
}

footer {
  flex: 0 0 auto;
  background-color: #f1f3f2;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
